@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body{
    background: rgba(255, 240, 245, 0.74);
    margin: 0;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(255, 240, 245, 0.74), rgba(235, 130, 165, 0.74));
}

.pro,.edu,.aboutinfo{
  opacity: 0;
  transition: opacity 1s ease;
}

.animate {
  opacity: 1;
}

.connectHeading {
  opacity: 0;
  transition: opacity 1s;
  animation: slideInuptodown 4s ease-in;
}

@keyframes slideInuptodown {
  from {
      transform: translateY(-30%);
  }
  to {
      transform: translateY(0);
  }
}

button{
    padding: 20px 20px;
    border: transparent;
    border-radius: 50px;
    background-color: rgba(168, 25, 104, 0.779) ;
    font-size: medium;
    font-weight: 300;
}
button:hover{
    color: whitesmoke;
    cursor: pointer;
    background-color: rgb(37 134 176);
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    height: 120px;
}

nav h1 {
    font-size: 1.5em;
    margin-block-start: 0.2em;
    margin-block-end: 0.8em;
}


ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-right: 60px;
}
li{
    padding-left: 50px;
    font-size: 20px;
}

li:hover{
    text-decoration: underline;
    cursor: pointer;
}

a{
    text-decoration: none; 
    color: black;
}
  

.logo a{
    
    font-family: "Whisper", cursive;
    font-size: 50px;
    color: rgba(47, 0, 27, 0.949);
    cursor: pointer;
}

.logo h1{
    margin-left: 60px;
}


.back{
    background:rgba(245, 245, 245, 0.832);
    height: 60px;
    width: 60px;
}

#intro{
    display:grid;
    grid-template-columns:[one]60% [two]40%;
    grid-gap:10px;
    align-items:start;
    justify-content:center;
    height: 1000px;
  }

.outercontainer{
    width: 80%;
    height: 60rem;
    display: fixed;
    top: 50%;
    transform: translateY(-46.6%);
    margin-top: 28em;
    backdrop-filter: blur;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.245);
    background-color: #eca5b5bc;
    background-image:url("bg.jpg");
    image-resolution: 20%;
    background-size: cover;
  }

  
.innercontainer{
    width: 75%;
    height: 70%;
    transform: translateX(50%) translateY(20%);
    box-shadow: -4px 0px 10px 0px rgba(240, 237, 237, 0.77);
    background-image: linear-gradient(rgb(37 134 176),rgb(255, 240, 245));
  }

.info{
    width:fit-content;
    transform: translate(50%, 50px);
    text-align: center;
    margin-bottom: 0px;
}
.info img:hover {
    transition: ease-in-out 300ms;
    transform: scale(1.2); 
    cursor: pointer;
}

.info h1{
    margin-top: 40px;
    margin-bottom: 0;
}
.links{
    height:80px;
    width: 75%;
    background-color: whitesmoke;
    box-shadow: -3px 5px 10px 0px rgba(240, 237, 237, 0.77);;
    display: flex;
    align-items: center;
    margin-top: 14px;
    justify-content: space-evenly;
    transform: translateX(50%) translateY(50%);
}

i:hover{
    transition: ease-in-out 300ms;
    transform: scale(1.2); 
    cursor: pointer;
}

.content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
}
.content h1{
    margin-top: 15rem;
    font-size: 100px;
    margin-bottom: 0;
}
h2,h3{
    margin-top: 0;
    font-size: 25px;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


#about{
  display: grid;
  grid-template-columns:[one]90% [two]10%;
  padding-left: 40px;
}

#about p{
  font-family: "Cormorant", serif;
  font-size: 25px;
}




.vertical-line {
 
  border-right: 1px solid black; /* Vertical line style */
  padding-right: 20px; /* Add some spacing between the line and the text */
}
.vertical-text {

  font-size: 80px;
  padding: 0;
  margin: 0;
}
#project{
    text-align: center;
    display:grid;
    grid-template-columns:[one]30% [two]70%;
    gap: 80px;
}

#project h1{
    font-size: 300px;
    margin: 0;
}

.pro {
    width: fit-content;
    min-width: 990px;
    padding: 10px 10px;
    border: 1px solid #cce7d0;
    background: rgba(252, 252, 255, 0.838);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    margin: 20px 0;
    position: relative;
    display:grid;
    grid-template-columns:[one]50% [two]50%;
    place-items: center;
  }
  .pro img {
    width:100%;
    overflow: hidden;
    height: 300px;
    border-radius: 20px;
    float: right;
    
  }  

  .vertical-text {
    text-decoration: overline;
    writing-mode: vertical-lr; /* Rotate text vertically */
    text-orientation: mixed; /* Ensure compatibility with different browsers */
    white-space: nowrap; /* Prevent text from wrapping */
  }

  .desc{
    text-align: left;
    padding: 15px;
    max-width: 500px;
  }
  .desc p{
    margin: 0;
    font-family:'Cormorant';
    font-weight: 200;
    color: black;
  }
  .desc button{
    margin-top: 20px;
  }
  #education{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 50px;
  }
.edu{
    width: 60vh;;
    padding: 10px 10px;
    border: 1px solid #cce7d0;
    background: #fbf3f8;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    margin: 20px 0px;
    position: relative;
    display:grid;
    grid-template-columns:[one]80% [two]20%;
    place-items: center;
}

.edu img {
  width:100px;
  overflow: hidden;
  height: 100px;
  border-radius: 20px;
  float: right;
  margin: 0;
}  
  #contact{
    display:grid;
    grid-template-columns:[one]55% [two]45%;
    width: 100%;
  }
  .contactForm{
    margin:2rem;
    width:800px;
    border:1px solid rgb(0, 0, 0);
    border-radius:5px;
    padding:1rem;
    display:grid;
    grid-template-columns:[one]15% [two]80%;
  }
  .contactForm>.formGroup{
    margin-bottom:1rem;
  }
  .formGroup input,textarea {
    width: 600px;
    height:2rem;
    padding-left: 10px;
    margin-top: 5px;
    font-weight: 300;
    font-size: large;
  }
  
  .formGroup label{
    font-size: 20px;
  }
  .contactlinks{
    height: 100%;
    width: 80px;
    float: right;
    background-color: whitesmoke;
    box-shadow: rgba(240, 237, 237, 0.77) -3px 5px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }